
html, body {
    height: 100%;
}

body {
    background: url("../../img/background.png") no-repeat center center fixed;
    background-size: 100vw 100vh;
    font-family: Roboto, Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
}

.container__centralizador {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translate(-50%);
    transition: transform 0.3s ease;
    width: 75%;
}

.teste {
    padding-bottom: 8px;
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    background: rgba(255, 255, 255, 0.6);
    min-height: 590px;
}
/** Header */
.header {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header__discografia{
    font-size: 40px;
    color: var(--cor-cinza)
}
/** Header */

/** Pesquisa */
.pesquisar {
    padding: 16px;
}

.pesquisar__inputEbotao {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.pesquisar__label {
    padding: 8px;
    display: block;
}

.pesquisar__input {
    flex-grow: 9;
    padding: 8px 24px;
    border-radius: 24px;
    border: none;
}

.pesquisar__botao {
    flex-grow: 1;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    padding: 12px 0;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

/** Pesquisa */

/** Albuns e faixas */

.faixas__header--duracao{
    display: flex;
    justify-content: end;
}

.albunsEfaixas {
    padding: 0px 24px;
}

.albunsEfaixas__titulo{
    font-weight: 700;
    padding: 8px 0px 16px 0px;
}

.faixas__header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 8px;
}

.faixas__header--numeroEfaixa {
    display: flex;
    gap: 36px;
}



.faixas__opcao {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
}

.faixas__opcao--numeroEfaixa {
    display: flex;
    gap: 36px;
    position: relative;
    align-items: center;
}

.faixas_opcao--nome {
    position: absolute;
    width: 260px;
    left: 54px;
}